@use "../abstracts" as *;

@font-face {
  font-family: "Value Serif Pro";
  src: url("../fonts/ValueSerifPro-Bold.woff2") format("woff2"),
    url("../fonts/ValueSerifPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Value Serif Pro";
  src: url("../fonts/ValueSerifPro-Regular.woff2") format("woff2"),
    url("../fonts/ValueSerifPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noi Variable Fix";
  src: url("../fonts/NoiVariableFix.woff2") format("woff2"),
    url("../fonts/NoiVariableFix.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@include font-face("SourceSerifPro", Source-Serif-Pro-Bold, "bold", "normal");
@include font-face(
  "SourceSerifPro-semibold",
  Source-Serif-Pro-Semibold-Regular,
  "semibold",
  "normal"
);

body {
  font-size: 10px;
  font-family: var(--font-primary);
  color: #fff;
}

h1 {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 70px;
}

h2 {
  font-family: var(--font-secondary);
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
}

h3 {
  font-family: var(--font-primary);
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.02em;
  line-height: 30px;
}

h4 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.02em;
  line-height: 30px;
}
h5 {
  font-family: var(--font-primary);
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.02em;
  line-height: 30px;
}
h6 {
  font-family: var(--font-primary);
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.02em;
  line-height: 30px;
}

p,
li {
  color: var(--textos);
  font-family: var(--font-primary);
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  line-height: 22px;
}
a {
  color: var(--orangeText);
  font-family: var(--font-primary);
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
}

small {
  color: var(--textos);
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}

.thin {
  font-weight: 100;
}
.light {
  font-weight: 300;
}
.medium {
  font-weight: 500;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.black {
  font-weight: 900;
}
.uppercase {
  text-transform: uppercase;
}
