body{
    background:#003937
}
.column
{
    box-sizing: border-box;
}
.w_25
{
    width:25%;
}
.w_35
{
    width:35%;
}
.w_65
{

    width:65%;
}
.w_75
{

    width:75%;
}
.w_90{
    width:90%;
}
.w_100{
    width:100%;
}

#timer {
   
    text-align: right;
    div{
        display: inline-block;
        line-height: 1;
        padding: 20px 5px;
        text-align: center;
    }
    span {
        display: block;
        font-size: 13px;
        text-align: center;
      }
  }
  

  
  #days,#hours,#minutes {
    font-size: 4em;
  }
  #seconds {
    font-size: 3.5em;
 
  }
  main{
    display:flex;
  }
  aside{
    background:url(../img/greenmask.svg) no-repeat center left;
    background-size:auto 100%;
    padding-left:20%;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        color:#003937;
        
        font-weight: bold;
        span{
            font-family: var(--font-secondary);
            font-size: 5rem;
            display: block;
            line-height: 0.8em;
            &.big{
                font-size:20rem;
            }
            &.small{
                font-size:1rem;
            }
        }
        
    }
    
}
section{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    img{
        
    }
}

section,aside{
    
    display:flex;
    height:100vh;
    overflow:hidden;
}